.main {
  align-self: stretch;
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--grid-margin);
  position: relative;
}

.grid {
  z-index: 1;
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
}
