.main {
  background-color: aliceblue;
  border-radius: 6px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  user-select: none;
  touch-action: none;
  box-shadow: 2px 2px 0 0 black;
  border: 1px solid black;
  transition: 100ms ease-out;
  transition-property: box-shadow, transform;
  z-index: 0;

  &.inWord,
  &.validWord,
  &.foundWord {
    z-index: 2;
    transform: scale(0.98);
    box-shadow: 0 1px 0 0 black;
    background-color: rgb(225, 225, 225);
  }

  &.validWord {
    background-color: rgb(147, 236, 147);
  }

  &.foundWord {
    background-color: rgb(255, 255, 167);
  }

  &::before {
    content: "";
    padding-bottom: 100%;
    display: block;
  }
}

.letter {
  display: block;
}
