.main {
  font-size: 72px;
  color: white;
  line-height: 60px;
  transform-origin: left;
  padding-bottom: 20px;
  white-space: nowrap;

  // force the height of the word
  &::after {
    content: " ";
    white-space: pre;
  }
}
