.main {
  display: flex;
  justify-content: flex-end;
}

.score {
  font-size: 48px;
  color: white;
  transition: 250ms ease-out;
  transition-property: transform;
  transform-origin: right;
  text-shadow: 1px 1px 0 black;

  &.counting {
    transform: scale(1.1);
  }
}
