.main {
  display: flex;
  justify-content: flex-end;
}

.score {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 4px 12px;
}

.number {
  font-size: 32px;
  display: block;
  color: white;
  transition: transform 250ms ease-out;

  &.counting {
    transform: scale(1.05);
  }
}
